*.in
*.so
*.[oa]
*.l[oa]
*.libs
*.gmo
*.log
*~
config.*
cscope.*
Makefile
.deps
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
Doxygen
libtool
pcmanx-gtk2.spec
pcmanx.desktop
po/POTFILES
src/pcmanx
*-stamp
stamp-*
debian/tmp
debian/files
debian/libpcmanx-core0*
debian/mozilla-plugin-pcmanx*
debian/pcmanx-gtk2*
plugin/src/pcmanx_interface.h
plugin/src/pcmanx_interface.xpt
plugin/data/TelnetProtocol.js
