*.in
*.[oa]
*.l[oa]
*.libs
*.gmo
*~
config.*
cscope.*
Makefile
.deps
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
Doxygen
libtool
pcmanx-gtk2.spec
pcmanx.desktop
plugin/data/TelnetProtocol.js
po/POTFILES
po/stamp-it
stamp-h1
src/pcmanx
